.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgb(167, 163, 163);
}
.logo {
  width: 150px;
}
.search {
  margin: auto;
}
.btn-search {
  color: white;
  cursor: pointer;
  padding: 2px;
  background-color: black;
}
.nav-items {
  padding: 0px 20px;
  color: rgb(151, 147, 147);
}
.nav-items > ul {
  font-size: 20px;
  display: flex;
  list-style-type: none;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 25px;
}
.res-card {
  width: 200px;
  height: 500px;
  background-color: #fff;
  border-radius: 11px;
  cursor: pointer;
}
.res-card:hover {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}
.search > input {
  margin: 20px;
  width: 250px;
}
.res-logo {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.res-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.res-details1,
.res-details2 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.res-details1 > p {
  padding: 2px;
  background-color: green;
  color: white;
  font-size: 15px;
}
.res-details2 > p {
  padding: 10px;
}
.About > a,
.contact > a,
.social-links > a {
  color: rgb(165, 163, 163);
  text-decoration: none;
  padding: 5px;
}
.About {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin-right: 20px;
}
.contact {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin-right: 20px;
}
.social-links {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin-right: 20px;
}
*/ .btn-toprated {
  margin: 10px;
  cursor: pointer;
}
.shimmer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vh;
  margin: auto;
}
.shimmer-cards {
  width: 200px;
  height: 400px;
  background-color: #f0f0f0;
  margin: 20px;
}
.shimmer-carousal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.shimmer-carousal-cards {
  width: 200px;
  height: 200px;
  background-color: #f0f0f0;
  margin: 20px;
}
.login {
  padding: 0px 20px;
  cursor: pointer;
}
.upper-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.link {
  color: black;
  text-decoration: none;
}
.menu-header {
  height: 30vh;
  background-color: #000;
  color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.menu-header .menu-header-left img {
  width: 250px;
  height: 170px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
}

.menu-header .menu-header-right .top h1 {
  font-size: 40px;
  font-weight: normal;
}

.menu-header .menu-header-right .top h3 {
  font-weight: normal;
  opacity: 0.7;
  margin-top: 5px;
}

.menu-header .menu-header-right .bottom {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
}

.menu-header .menu-header-right .bottom h4 {
  border-right: 4px solid #ccc;
  padding-right: 20px;
}

.menu-main {
  /* margin-top: 100px; */
  margin: 80px 150px;
}

.menu-main h2 {
  font-size: 30px;
  opacity: 0.8;
}

.menu-main .items {
  font-size: 14px;
  opacity: 0.6;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 10px;
}

.menu-main-card-container {
  margin-top: 50px;
  border-radius: 7px;
}

.menu-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  background-color: #fff;
  padding: 20px;
  border-bottom: 1px solid #3b3a3a;
}

.menu-card-left .menu-name {
  font-size: 24px;
  opacity: 0.8;
}

.menu-card-left .menu-price {
  font-weight: normal;
  opacity: 0.8;
  margin-top: 5px;
}

.menu-card-left .menu-description {
  font-weight: normal;
  opacity: 0.8;
  margin-top: 15px;
}

.menu-card-right img {
  height: 100px;
  width: 100px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
}
